<article class="article-details">
    <img src="" alt="Alt description" />
    <section class="article-description">
        <h2 class="article-title">title</h2>
        <h3 class="article-subTitle">subtitle</h3>
    </section>
    <section class="article-info">
        <p class="article-author">Author</p>
        <p class="article-datePosted">date</p>
        <p class="article-category">category</p>
    </section>
    <section class="article-content">
        <p>Bla bla bla</p>
    </section>
</article>
