<article>
    <header>
        <img [src]="article?.photo" [alt]="article?.photoDescription" />
        <h2 class="article-title">{{article?.title}}</h2>
        <h3 class="article-subTitle">{{article?.subtitle}}</h3>
        <section class="article-info">
            <p>
                <span class="author">{{article?.author}}</span>,
                <span class="date">{{article?.datePosted}}</span> |
                <span class="category">{{article?.category}}</span>
            </p>
        </section>
    </header>
    <section class="article-content">
        <p>{{article?.content}}</p>
    </section>
    <a [routerLink]="['']">Back</a>
</article>
