<article class="article-details">
    <img [src]="article?.photo" [alt]="article?.photoDescription" />
    <section class="article-description">
        <h2 class="article-title">{{article?.title}}</h2>
        <h3 class="article-subTitle">{{article?.subtitle}}</h3>
    </section>
    <section class="article-info">
        <p class="article-author">{{article?.author}}</p>
        <p class="article-datePosted">{{article?.datePosted}}</p>
        <p class="article-category">{{article?.category}}</p>
    </section>
    <section class="article-content">
        <p>{{article?.content}}</p>
    </section>
    <a [routerLink]="['']">Go Back</a>
</article>
