<article>
    <img [src]="article.photo" [alt]="article.photoDescription" />
    <header>
        <h2 class="article-title">{{article.title}}</h2>
        <h3 class="article-subTitle">{{article.subtitle}}</h3>
    </header>
    <section class="article-info">
        <p>
            <span class="author">{{article.author}}</span>,
            <span class="date">{{article.datePosted}}</span> |
            <span class="category">{{article.category}}</span>
        </p>
    </section>
    <a [routerLink]="['details', article.id]">Read More</a>
</article>
