<section class="home">
    <form>
        <input type="text" id="category" name="userInputCategory" placeholder="Search by category" aria-label="Search by keyword" [(ngModel)]="userInputCategory" (ngModelChange)="this.categoryFilterUpdate.next($event)"/>
    </form>
    <section class="articles">
        @for(article of filteredArticles; track article.id) {
            <app-article [article] = "article"></app-article>
        }
        <!-- } @empty {
            <section class="invalidCategory-warning">
                <p>Oops! the category you've given isn't available. Why not try either news, sports, justice, environment or tech.</p>
            </section>
        } -->
    </section>
</section>