//Mobile styles for Home component
.home {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 3rem;
    align-items: center;
}

form {
    input {
        border: {
            radius: 12px;
            style: none;
        }
        background: #E0E2E1;
        width: 250px;
        height: 48px;
        padding: 14px 0px;
        box-shadow: 0 4px 10px #E0E2E1;
        text-align: center;
    }
}

.articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 1024px) {
    .articles {
        grid-template-columns: repeat(2, 1fr);
    }
}