//Mobile styles for Home component
section {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 3rem;
    align-items: center;
}

form {
    input {
        border: {
            radius: 12px;
            style: none;
        }
        background: #E0E2E1;
        width: 250px;
        height: 48px;
        padding: 14px 0px;
        box-shadow: 0 4px 10px #E0E2E1;
        text-align: center;
    }
}

section.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 445px));
    gap: 3rem;
    align-self: stretch;
    justify-content: center;
}